{{^user}}
<form id="tw_signin" action="/signin/twitter" method="GET" class="twitter-signin">
    <button type="submit" class="btn btn-twitter">
        <i class="fa fa-twitter"></i><span> | </span><span>Sign In with Twitter</span>
    </button>
</form>
{{/user}}

{{> footerbase.mustache }}
