<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootique Mvc Mustache Demo</title>
    {{> com/nixmash/shiro/views/fragments/header.mustache }}
</head>

<body>

<div>
    <h1>Authorized!</h1>

    <div id="content">
        <p class="lead">You have been authorized to use Twitter Services!</p>

        <p class="lead">Please complete signup by supplying the following information. All fields are required.</p>

        <form action="signup" method="POST" class="signup-form">
            <input type="hidden" name="providerUserid" value="{{socialUser.providerUserid}}"/>
            <p><label for="username">Enter a Username</label><input name="username"/></p>
            <p><label for="firstName">First Name</label><input name="firstName"/></p>
            <p><label for="lastName">Last Name</label><input name="lastName"/></p>
            <p><label for="lastName">Email</label><input name="email"/></p>
            <div class="signup-form-bottom">
                <p><input type="submit" value="Submit" class="btn btn-primary"/></p>
            </div>
        </form>
    </div>

    {{> com/nixmash/shiro/views/fragments/authfooter.mustache }}

</div>
</body>
</html>
