<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootique Mvc Mustache Demo</title>
    {{> com/nixmash/shiro/views/fragments/header.mustache }}
</head>

<body>

<!-- Page Content -->
<div>
    <h1>Unauthorized</h1>

    <div id="content">
        <p class="lead">Sorry, you are not authorized to view that page.</p>
    </div>

    {{> com/nixmash/shiro/views/fragments/footer.mustache }}

</div>
</body>
</html>
